body{
    background-image: url('120038-3840x2160-desktop-4k-japan-background-image.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
      }
h1{
    z-index: 30;
    color: aquamarine;
    top: 0px;
    left: 350px;
    position: absolute;
}

p{
    z-index: 30;
    color: aquamarine;
    top: 50px;
    left: 350px;
    position: absolute;
    font-style: italic
}
    
.firstndimg{
    top: 90px;
    left: 350px;
    z-index: 20;
    position: absolute;
    height: 450px;
    width: 550px;
    opacity: 0.4;
}

.gura{
    z-index: 30;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 400px;
}
.anothergura{
    z-index: 30;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 120px;
}
.moregurahaha{
    z-index: 30;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 350px;
    left: 120px;
}
.soundhe{
    z-index: 30;
    position: absolute;
    top: 500px;
    left: 950px;
}
#firtsbutton{
    z-index: 30;
    position: absolute;
    top: 15px;
}
#newbutton{
    position: absolute;
    z-index: 30;
    left: 80px;
    top: 15px;
}
.morero{
    position: absolute;
    z-index: 30;
    width: 200px;
    height: 200px;
    top: 150px;
    left: 910px;
}
.morerore{
    top: 100px;
    left: 355px;
    z-index: 25;
    position: absolute;
    width: 20px;
    height: 20px;
}
#firstlink{
    top: 100px;
    left: 378px;
    z-index: 25;
    position: absolute;
    color: aquamarine;
}
.stinky{
    position: absolute;
    z-index: 30;
    top: 245px;
    left: 200px;
    height: 100px;
    width: 100px;
}
.stinky2{
    position: absolute;
    z-index: 30;
    top: 140px;
    left: 200px;
    height: 100px;
    width: 100px;
}
.stinky3{
    position: absolute;
    z-index: 30;
    width: 155px;
    height: 155px;
    top: 365px;
    left: 1020px;
}
.stinky4{
    position: absolute;
    z-index: 30;
    width: 100px;
    height: 100px;
    top: 355px;
    left: 910px;
}
/*differentiate it when it reach certain amount, I mean the device screen size*/
@media (max-width: 600px) {
    body{
        min-height: 150vh;
    }
    .firstndimg{
        width: 330px;
        height: 550px;
        top: 200px;
        left: 20px;
    }
    .gura{
        height: 50px;
        width: 50px;
        top: 1100px;
    }
    .anothergura{
        height: 100px;
        width: 100px;
        top: 1000px;
    }
    .moregurahaha{
        height: 100px;
        width: 100px;
        top: 1100px;
        left: 70px;
    }
    .morero{
        height: 100px;
        width: 100px;
        top: 990px;
        left: 100px;
    }
    h1{
        left: 20px;
        top: 50px;
    }
    p{ 
        left: 20px;  
        top: 130px;
    }
    .morerore{
        top: 220px;
        left: 30px;  
    }
    #firstlink{
        top: 220px;
        left: 55px;
    }
}
